<p id="notice"><%= notice %></p>

<p>
  <b>Mobilenumber:</b>
  <%= @post.mobileNumber %>
</p>

<p>
  <b>Smstimestamp:</b>
  <%= @post.smsTimeStamp %>
</p>

<p>
  <b>Smstext:</b>
  <%= @post.smsText %>
</p>

<p>
  <b>Simnumber:</b>
  <%= @post.simNumber %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
